# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
build.sh
release.sh
.DS_Store
.env
old
npm-debug.log
